:root {
  --main-text-color: #434455;
  --main-title-color: #2e2f42;
  --main-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
}
body {
  font-family: Roboto;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.hide {
  display: none;
}
.main-title {
  color: var(--main-title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.secondary-title {
  color: var(--main-title-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ====HEADER===== */

.header-logo {
  color: var(--main-title-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.web-color {
  color: #4d5ae5;
}

.nav-list {
  color: var(--main-title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contact {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* ====/HEADER==== */

/* ====HERO==== */

.hero {
  background-color: var(--main-title-color);
}
.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
}

/* ====SECTION-1==== */

/* ====SECTION-2==== */

.doing-title {
  color: var(--main-title-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* ====SECTION-3==== */

.team {
  background-color: var(--secondary-background-color);
}

/* ====FOOTER==== */

.footer {
  background-color: var(--main-title-color);
}

.footer-logo {
  color: var(--secondary-background-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: var(--secondary-background-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* ==========/index========== */

/* ==========portfolio========== */
.portfolio-btn {
  color: #4d5ae5;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--secondary-background-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
